<!DOCTYPE html>
<html lang="en">
<head>
	<title>Search page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<form>
    <table>
        <tr>
            <td align='right'>
                Запрос:
            </td>
            <td>
              <input type="text" name="query" style='width:100%'></input><br>
        </td>
    </tr>
    <tr>
        <td align='right'>
            Параметры:
        </td>
        <td>
            <input list='mode' name="mode">
              <datalist id="mode">
                <option value="blend">
                <option value="w2v">
                <option value="d2v">
                <option value="okapi">
              </datalist>
            <input list='n' name="n">
              <datalist id="n">
                <option value="5">
                <option value="10">
                <option value="25">
                <option value="50">
                <option value="100">
              </datalist>
        </td>
    <tr>
        <td align='right'>
            Для типа blend: 
        </td>
        <td>
            Doc2Vec <input type="range" name="w2v" min="0" max="100"> Word2Vec
        </td>
    </tr>
    <tr>
        <td align='center'>
            
            <button type="submit">Search</button>
        </td>
    </tr>
    </table>
</form>
<br>
Время: {{time}} 
<br>
{{links|safe}}
</body>
</html>
